
#name {
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
}

.btn-primary{
    margin: 30px 30px;
    width: 100px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

#ctn-article{
    font-family: 'Titillium Web', sans-serif;
}
#ctn-description{
    font-family: 'Oxygen', sans-serif;
    font-size: 12px;
}
.fade-in-text {
    animation: fadeIn linear 3s;
    -webkit-animation: fadeIn linear 3s;
    -moz-animation: fadeIn linear 3s;
    -o-animation: fadeIn linear 3s;
    -ms-animation: fadeIn linear 3s;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

#ProfilePic{
    border-radius: 4px;
    width: 100%;
    margin: 50px 0px 30px;
    opacity: 1;  
}

#ProfileJumbo{
    padding: 25px 0px 25px;
    margin-top: 25px 0px 25px;
    font-family: Ubuntu, sans-serif;
    font-weight: bold;
}

#ProfileContainer{
    max-width:100%;
    margin: 35px 0px 35px;
    padding: 0px;
    text-align: center;
    display: inline-block;
}

#ProfileContainer::before{
    background-image: url('../images/MoutnainBG.jpg');
    opacity: 0.33;
}
#ProfileInfo{
    margin: auto;
    text-align: center;
    display: block;
    width: 50%;
}

#pic{
    width: 25%;
    border-radius: 20%;
}

#resume{
    margin-top: 100px;
    margin-bottom: 100px;
}
#navbar{
    /* background-image: url("../images/wall-1846965_1920.jpg"); */
    border-bottom: solid 2px rgb(94, 150, 245);
}
.sticky-navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

#project-lineup{
    margin-top: 100px;
    margin-bottom: 30px;
}

#about {
    font-family: 'Montserrat', sans-serif;
}

#about-txt {
    font-family: 'Monserrat', sans-serif;
}
#navbar-menu-list{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}

#contact-form {
    background-color: white;
    margin-top: 80px;
    margin-bottom: 30px;
}

#footer{
    /* background-image: url("../images/wall-1846965_1920.jpg"); */
    color: white;
    position: relative;
    bottom: 0;
}

#message{
    height: 400px;
}

/* Links in the Footer */
#link-1{
    color: white;
}
#link-2{
    color: white;
}
#link-3{
    color: white;
}
#link-4{
    color: white;
}
a {
    color: white;
}

#contact-info-title{
    color: rgb(0, 119, 255);
}

#project-links-title{
    color: rgb(0, 119, 255);
}
#opacitybg{
    background-color: rgba(251, 251, 251, 0.712);
}
#sql-logo, #css-logo, #javascript-logo, #python-logo, #react-logo, #node-logo{
    width: 100px;
}
#summary{
    background-color: lightblue; 
    border-radius: 10px;
}
.img-thumbnail{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}