#name {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;

}
body {
    background-image: url("../images/new_year_background.png");
    margin-top: 100px;
}
#ctn-article{
    background-color: white;
}
#navbar{
    background-image: url("../images/wall-1846965_1920.jpg");
    border-bottom: solid 2px rgb(94, 150, 245);
}
.sticky-navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

#about {
    font-family: 'Montserrat', sans-serif;
}

#about-txt {
    font-family: 'Monserrat', sans-serif;
}
#navbar-menu-list{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}

#contact-form {
    background-color: white;
}

#footer{
    background-image: url("../images/wall-1846965_1920.jpg");
    color: white;
    position: relative;
    bottom: 0;
}

#message{
    height: 400px;
}